/*
.footer-custom {
  background-color: #0c3c60;
  height: 50px;
  color: white;
  position:fixed;
  bottom: 0px;
  right:0px;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  z-index:+1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.title {
  position:relative;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
  font-size: 4vw;
}
.container-index {
  background-color: #ebf7f5;
  position: fixed;
  top: 120px;
  height: 610px;
  width: 90%;
  margin: auto 80px;
}
.title {
  position: relative;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
  font-size: 4vw;
}

.container-inside-index {
  position: relative;
  background: rgba(31, 78, 121, 0.2);
  height: 300px;
  width: 100%;
  top: 55%;
  margin: auto;
}
.first-text {
  color: #1f4e79;
  font-style: italic;
  position: relative;
  margin: auto;
  top: 50px;
}
.second-text {
  color: darkslategray;
  position: relative;
  margin: auto;
  top: 52px;
}
.register-btn {
  position: relative;
  border: 1px solid #0c3c60;
  color: #0c3c60;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  width: 80px;
  height: 30px;
  margin: 100px 24px;
}
.login-btn {
  position: relative;
  background-color: #39729b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: 1px;
  width: 80px;
  height: 30px;
  margin: 100px 24px;
}
.text-style {
  color: #0c3c60;
  font-size: 20px;
  font-weight: bold;
}
.container-inside {
  width: 100%;
  height: 400px;
  position: relative;
  margin: auto 0px;
  top: 150px;
  background: rgba(31, 78, 121, 0.2);
}

.col-md-4 {
  top: 20rem;
}
.text0 {
  position: relative;
  z-index: -1;
  margin: 10px 50px;
  /* margin: 0px 15px; */
 /* top: 1rem;
}
.text1 {
  position: relative;
  z-index: -1;
  margin: 10px 50px;
  top: 1rem;
}
.text2 {
  position: relative;
  z-index: -1;
  margin: 10px 50px;
  top: 1rem;
}
.resultimg {
  top: -2rem;
}
.upload-btn,
.manage-college-btn {
  position: relative;
  width: 240px;
  height: 28px;
  z-index: -1;
  background-color: #39729b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: 1px;
  margin: 100px 0px;
}
.manage-student-btn {
  position: relative;
  border: 1px solid #0c3c60;
  color: #0c3c60;
  width: 240px;
  z-index: -1;
  height: 28px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  margin: 100px 0px;
}
*/