.navbar-custom {
  background-color: #0c3c60;
  height: 90px;
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.head {
  position: relative;
  top: 13px;
}

.logo {
  position: relative;
  top: 10px;
  border: 1px solid black;
  height: 90px;
  text-align: center;
  width: 90px;
  left: 150px;
  background-color: white;
}
.footer-custom {
  background-color: #0c3c60;
  height: 50px;
  color: white;
  position:fixed;
  bottom: 0px;
  right:0px;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  z-index:+1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.title {
  position:relative;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
  font-size: 4vw;
}
.container-index {
  background-color: #ebf7f5;
  position: fixed;
  top: 120px;
  height: 610px;
  width: 90%;
  margin: auto 80px;
}

.container-inside-index {
  position: relative;
  background: rgba(31, 78, 121, 0.2);
  height: 300px;
  width: 100%;
  top: 55%;
  margin: auto;
}
.first-text {
  color: #1f4e79;
  font-style: italic;
  position: relative;
  margin: auto;
  top: 50px;
}
.second-text {
  color: darkslategray;
  position: relative;
  margin: auto;
  top: 52px;
}
.register-btn {
  position: relative;
  border: 1px solid #0c3c60;
  color: #0c3c60;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  width: 80px;
  height: 30px;
  margin: 100px 24px;
}
.login-btn {
  position: relative;
  background-color: #39729b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: 1px;
  width: 80px;
  height: 30px;
  margin: 100px 24px;
}
.text-style {
  color: #0c3c60;
  font-size: 20px;
  font-weight: bold;
}
.container-inside {
  width: 100%;
  height: 400px;
  position: relative;
  margin: auto 0px;
  top: 150px;
  background: rgba(31, 78, 121, 0.2);
}

.col-md-4 {
  top: 20rem;
}
.text0 {
  position: relative;
  margin: 10px 50px;
  /* margin: 0px 15px; */
  top: 1rem;
}
.text1 {
  position: relative;
  margin: 10px 50px;
  top: 1rem;
}
.text2 {
  position: relative;
  margin: 10px 50px;
  top: 1rem;
}
.upload-btn,
.manage-college-btn {
  position: relative;
  width: 240px;
  height: 28px;
  background-color: #39729b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: 1px;
  margin: 100px 0px;
}

.manage-student-btn {
  position: relative;
  border: 1px solid #0c3c60;
  color: #0c3c60;
  width: 240px;
  height: 28px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  margin: 100px 0px;
}

html,
body {
  position: relative;
  height: 100%;
}

.login-container ,.register-container {
  width: 320px;
  height: 430px;
  position:fixed;
  margin: 180px auto;
  padding: 20px 40px 40px;
  background: whitesmoke;
  box-shadow: 8px 8px 8px 8px #d1e0eb;
  border: 1px solid #ccc;
}

.AdminReg {
  
  width: 400px;
  height: 540px;
  
}
.StudentReg{
  height:710px;
}

.TpoReg{
 height:690px;
}

.avatar {
  width: 110px;
  height: 110px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid rgb(12, 60, 96);
  background-size: cover;
  background-color: white;
}

.userimg {
  border-radius: 100%;
}
.text {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #0c3c60;
  text-align:center;
}

.form-box input {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fafafa;
}

.form-box input:focus {
  outline: 0;
}

.form-box input[type="text"] {
  border-radius: 5px;
  text-transform: lowercase;
}

.form-box input[type="password"] {
  border-radius: 5px;
}

.form-box button.login {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #0c3c60;
}

div.anc,
a.anc {
  margin-top: 7px;
  color: #0c3c60;
  font-size: 17px;
  text-decoration: none;
}
