/* Login and Register */

.register-container,
.login-container {
  margin: 30px auto;
  padding: 20px 40px 40px;
  width: 350px;
  height: max-content;
  background: whitesmoke;
  box-shadow: 8px 8px 8px 8px #d1e0eb;
  border: 1px solid #ccc;
}

.avatar {
  width: 110px;
  height: 110px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid rgb(12, 60, 96);
  background-size: cover;
  background-color: white;
}
.userimg {
  border-radius: 100%;
  margin-left: 1px;
}
.NameText {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #0c3c60;
  text-align: center;
}
.form-box input {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fafafa;
}
.form-box input:focus {
  outline: none;
}
.form-box input[type="text"] {
  border-radius: 5px;
}
.form-box input[type="password"] {
  border-radius: 5px;
}
.form-box button.btn {
  margin-top: 15px;
  padding: 10px 20px;
  width: 420px;
  color: white;
  background-color: #0c3c60;
}
div.anc,
a.anc {
  margin-top: 7px;
  color: #0c3c60;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
}
/* Hide arrows from input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
