<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3>Edit Question Paper</h3>
      </div>
      <div class="card-body">
        <div [formGroup]="editForm">
          <div class="form-group">
            <label>Question Paper</label>
            <input class="form-control" type="text" formControlName="name" />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.name.errors?.required"
            >
              Question is required.
            </div>
          </div>
          <div class="form-group">
            <label>Year</label>
            <input class="form-control" type="text" formControlName="year" />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.year.errors?.required"
            >
              Year is required.
            </div>
          </div>
          <div class="form-group">
            <label>Month</label>
            <input class="form-control" type="text" formControlName="month" />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.month.errors?.required"
            >
              Month is required.
            </div>
          </div>
          <div class="form-group">
            <label>Day</label>
            <input class="form-control" type="text" formControlName="day" />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.day.errors?.required"
            >
              Day is required.
            </div>
          </div>
          <div class="form-group">
            <label>Marks</label>
            <input class="form-control" type="text" formControlName="marks" />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.marks.errors?.required"
            >
              Marks is required.
            </div>
          </div>
          <div class="form-group">
            <label>Time</label>
            <input class="form-control" type="text" formControlName="time" />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.time.errors?.required"
            >
              Time is required.
            </div>
          </div>
          <div class="form-group">
            <label>Code</label>
            <select class="form-control form-control-lg" formControlName="code">
              <option disabled value="">Select Code</option>
              <option *ngFor="let i of clg" [value]="i.code">
                {{ i.code }}, {{ i.name }}
              </option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.code.errors?.required"
            >
              Code is required.
            </div>
          </div>
          <div class="form-group">
            <label>Instruction Id</label>
            <select
              class="form-control form-control-lg"
              formControlName="instructions_id"
            >
              <option disabled value="">Select Instruction Id</option>
              <option *ngFor="let i of instruction" [value]="i._id">
                {{ i.code }}, ({{ i._id }})
              </option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.instruction_id.errors?.required"
            >
              Instruction Id is required.
            </div>
          </div>
          <div class="form-group">
            <label>Start-Time</label>
            <input
              class="form-control"
              type="text"
              formControlName="start_time"
            />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.start_time.errors?.required"
            >
              Start-Time is required.
            </div>
          </div>
          <!--<div class="form-group">
            <label for="trigger_type">Trigger-Type</label>
            <select
              class="form-control form-control-lg"
              formControlName="trigger_type"
            >
              <option [value]="enable">Enable</option>
              <option [value]="disable">Disable</option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.trigger_type.errors?.required"
            >
              Trigger-Type is required.
            </div>
          </div>
          <div class="form-group">
            <label for="trigger_type">Trigger-Type</label>
            <select
              class="form-control form-control-lg"
              formControlName="trigger_type"
            >
              <option [value]="enable">Enable</option>
              <option [value]="disable">Disable</option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.trigger_type.errors?.required"
            >
              Trigger-Type is required.
            </div>
          </div>
        -->

          <div class="form-group">
            <label>Negative-Marking-Ratio</label>
            <input
              class="form-control"
              type="text"
              formControlName="negative_marking_ratio"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                submitted && myForm.negative_marking_ratio.errors?.required
              "
            >
              Negative-Marking-Ratio is required.
            </div>
          </div>
          <div class="form-group">
            <label>Start-Time</label>
            <input
              class="form-control"
              type="text"
              formControlName="start_time"
            />
            <div
              class="invalid-feedback"
              *ngIf="submitted && myForm.start_time.errors?.required"
            >
              Start-Time is required.
            </div>
          </div>

         <!-- <div formArrayName="sections">
            <div *ngFor="let opt of sections.controls; let i = index">
              <div [formGroup]="opt">
                Section-Name:<input
                  type="text"
                  formControlName="section_name"
                />
                <br />
                Section-Marks:<input
                  type="text"
                  formControlName="section_marks"
                />
                <br />
                No-of-Questions:<input
                  type="text"
                  formControlName="num_of_questions"
                />
                <br />
                <div formArrayName="sections">
                  <div
                    *ngFor="let opt of question_list.controls; let i = index"
                  >
                    <div [formGroup]="opt">
                      <label>Question Id</label>
                      <select
                        class="form-control form-control-lg"
                        formControlName="question_id"
                      >
                        <option disabled value="">Select Question Id</option>
                        <option *ngFor="let i of question" [value]="i._id">
                          {{ i.topic }}, {{ i.question }}({{ i._id }})
                        </option>
                      </select>
                      Question-Marks:<input
                        type="text"
                        formControlName="question_marks"
                      />
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
-->
          <div class="form-group">
            <button
              class="btn btn-success btn-lg btn-block"
              type="submit"
              (click)="onSubmit()"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- form  -->
  </div>
</div>
