<div class="row justify-content-center">
  <div class="col-md-4 register-question">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Name</label>
          <input class="form-control" type="text" formControlName="name" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.name.errors?.required"
          >
            Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input class="form-control" type="text" formControlName="email" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.email.errors?.required"
          >
            Enter an email.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPhone">Phone</label>
          <input class="form-control" type="text" formControlName="phone" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.phone.errors?.required"
          >
            Enter a phone number.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input class="form-control" type="text" formControlName="password" />
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.password.errors?.required"
          >
            Enter an Password.
          </div>
        </div>

        <div class="form-group">
          <label for="inputRoll">Roll No.</label>
          <input class="form-control" type="text" formControlName="roll" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.roll.errors?.required"
          >
            Enter a Roll No.
          </div>
        </div>
        <div class="form-group">
          <label for="inputBranch">Branch</label>
          <input class="form-control" type="text" formControlName="branch" />
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.branch.errors?.required"
          >
            Enter a Branch
          </div>
        </div>
        <div class="form-group">
          <label for="inputCollege">College</label>
          <select class="form-control" formControlName="college">
            <option disabled value="">Select College</option>
            <option *ngFor="let i of cld" [value]="i.name">
              {{ i.name }}
            </option>
          </select>
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.branch.errors?.required"
          >
            Enter a College
          </div>
        </div>
        <div class="form-group">
          <label for="inputCode">Code</label>
          <select class="form-control" formControlName="code">
            <option disabled value="">Select Code</option>
            <option *ngFor="let i of cld" [value]="i.code">
              {{ i.code }}, {{ i.name }}
            </option>
          </select>
          <!-- error -->
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm.branch.errors?.required"
          >
            Enter a Branch
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
