.col-sm-2 {
  float: left;
  height: 100%;
}
.sec {
  background-color: rgb(134, 131, 127);
}
.col-md-8 {
  margin-left: 5px;
}
.fine {
  border: 1px solid black;
  margin: 2px;
  text-align: center;
  background-color: white;
}
.btn2 {
  border-radius: 50%;
}
.cursor-pointer {
  cursor: pointer;
}
.pre-btn {
  float: left;
  text-align: center;
  color: #000;
}
.middle-btn {
  float: left;
  margin: auto;
  text-align: center;
  color: #000;
}
.ques {
  border: 1px solid black;
}
.col {
  background-color: lightblue;
  width: 50px;
  float: left;
}

.nxt-btn {
  float: right;
  text-align: center;
  color: #000;
}
.option,
h3 {
  background-color: #cadaee;
  font-size: 20px;
  padding: 10px;
  margin: 3px;
}
#quiz .options input[type="checkbox"] {
  height: 22px;
  width: 22px;
}
