<div class="container-fluid" *ngIf="mode == 'quiz'">
  <div class="row">
    <div *ngIf="config.duration" class="help-block">
      Time: {{ ellapsedTime }} / {{ duration }}
      <button class="btn btn-success nxt-btn help-block" (click)="onSubmit()">
        Finish Test
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="row text-center block">
        Select Section:
        <select [(ngModel)]="section_id" (change)="loadQuiz(section_id)">
          <option *ngFor="let section of sections" [value]="section._id">
            {{ section.section_name }}
          </option>
        </select>
      </div>
      <hr />
      <br />
      <div
        class="col round fine cursor-pointer"
        *ngFor="let ques of questions; let j = index"
      >
        <div
          (click)="goTo(j)"
          class="{{
            ques.state == 4
              ? 'bg-success'
              : ques.state == 5
              ? 'bg-warning'
              : 'bg-info'
          }}"
        >
          {{ j + 1 }}
        </div>
      </div>
      <br />
    </div>
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row">
          <div class="ques">
            <div *ngFor="let q of filteredQuestions; let k = index">
              <div class="badge badge-info">
                Question {{ pager.index + 1 }} of {{ pager.count }}.
              </div>
              <h3 class="font-weight-normal">
                Question no. - {{ pager.index + 1 }}. {{ q.question }}
              </h3>
              <div class="options help-block">
                <div *ngFor="let opt of q.options">
                  <div class="option" [attr.for]="opt.index">
                    <input
                      id="{{ opt.index }}"
                      type="checkbox"
                      [(ngModel)]="opt.selected"
                      (change)="onSelect(q, opt)"
                    />
                    {{ opt.index }}. {{ opt.option }}
                  </div>
                </div>
              </div>
              <br />
              <button
                class="col-4"
                class="btn btn-warning"
                (click)="goTo(pager.index + 1); callService(q, 5)"
              >
                Mark For Review
              </button>
              <button
                class="col-4"
                class="btn btn-primary"
                (click)="goTo(pager.index - 1)"
              >
                Prev
              </button>
              <button
                class="col-4"
                class="btn btn-success"
                (click)="goTo(pager.index + 1); callService(q, 4)"
              >
                Next
              </button>
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container result" *ngIf="mode == 'result'">
  <table class="table table-striped">
    <h2 class="text-center">Your Result</h2>
    <br />
    <hr />
    <br />
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{ result.name }}</td>
      </tr>
      <tr>
        <th scope="row">Roll No.</th>
        <td>{{ result.roll }}</td>
      </tr>
      <tr>
        <th scope="row">College Code</th>
        <td>{{ result.code }}</td>
      </tr>
      <tr>
        <th scope="row">Total Questions</th>
        <td>{{ result.total_number_of_questions }}</td>
      </tr>
      <tr>
        <th scope="row">Attempted questions</th>
        <td>{{ result.question_attempt }}</td>
      </tr>
      <tr>
        <th scope="row">Correct Attempted Questions</th>
        <td>{{ result.correct_attempt }}</td>
      </tr>
      <tr>
        <th scope="row">Your score out of Total marks</th>
        <td>{{ result.total_marks_scored }}/{{ result.total_marks }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <br />
  <hr />
  <br />
  <h3 class="text-center">
    You'll get notified via sms or mail for further communication.
  </h3>
  <br />
  <h2 class="text-center">
    Innobit Systems wish you all the best for your future.
  </h2>
</div>
