<div style="text-align: center">
  <h1>
    <br /><br />
    Welcome to Campus Recruiter.<br />
    We are the one who provide the best technical<br />
    solutions to businesses to grow faster
  </h1>
  <br />
  <hr />
  <br />
  <h2 *ngIf="isExam">
    You have exam right now<br /><br />
    <button type="submit" class="btn btn-success" (click)="joinTest()">
      Join Test
    </button>
  </h2>
  <h2 *ngIf="!isExam">
    You have no exam right now, please come and check later or wait for
    sometime.
  </h2>
</div>
