<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <button
    style="margin-top: 5px; margin-bottom: 5px"
    type="button"
    class="btn btn-primary btn-sm"
    (click)="addNewQuestion()"
  >
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
    Question
  </button>
  <div formArrayName="questions">
    <div
      style="margin-top: 5px; margin-bottom: 5px"
      *ngFor="
        let ques of questionForm.get('questions')['controls'];
        let i = index
      "
    >
      <fieldset>
        <legend>
          <h4>
            Question {{ i + 1 }}:<button
              style="margin-left: 35px"
              type="button"
              class="btn btn-danger"
              (click)="deleteQuestion(i)"
            >
              <span aria-hidden="true"></span>
              Remove Question
            </button>
          </h4>
        </legend>
        <div [formGroupName]="i">
          <div class="form-inline">
            <div class="form-group">
              <label class="col-4">Question</label>
              <input
                type="text"
                class="form-control"
                placeholder="Question"
                name="type"
                formControlName="question"
                style="margin-right: 5px"
                required
              />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label class="col-4">Topic </label>
              <input
                type="text"
                class="form-control"
                placeholder="Topic"
                name="type"
                formControlName="topic"
                style="margin-right: 5px"
                required
              />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label style="margin-right: 80px" class="col-form-label"
                >Options :-</label
              >
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <div formArrayName="options">
                <div
                  style="margin-top: 5px; margin-bottom: 5px"
                  *ngFor="
                    let lines of ques.get('options')['controls'];
                    let j = index
                  "
                >
                  <div [formGroupName]="j">
                    <div class="form-group">
                      <label style="margin-right: 60px" class="col-form-label"
                        >Option {{ j + 1 }}</label
                      >
                      <input
                        formControlName="index"
                        class="form-control"
                        style="margin-right: 5px"
                        placeholder="Index"
                        name="index"
                      />
                      <input
                        formControlName="option"
                        class="form-control"
                        style="margin-right: 5px"
                        placeholder="option"
                        name="option"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label style="margin-right: 60px" class="col-form-label"
                >Answer</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Answer"
                name="type"
                formControlName="answer"
                style="margin-right: 5px"
                required
              />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label style="margin-right: 60px" class="col-form-label"
                >Weight</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Weight"
                name="type"
                formControlName="weight"
                style="margin-right: 5px"
                required
              />
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
