.question-card {
  max-width: 400px;
}

.question-paper {
  max-width: 400px;
}

.instructions{
  max-width: 400px;
}

.admin{
  max-width: 400px;
}

.colleges{
  max-width: 400px;
}

.students{
  max-width: 400px;
}

.tpo{
  max-width: 400px;
}



