<mat-card class="question-card">
  <mat-card-header>
    <mat-card-title routerLink="/questions">Questions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1>
      {{ quesLength }}
    </h1>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>

<mat-card class="question-paper">
  <mat-card-header>
    <mat-card-title routerLink="/question-papers"
      >Question Papers</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <h1>
      {{ quesPaperLength }}
    </h1>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>

<mat-card class="instructions">
  <mat-card-header>
    <mat-card-title routerLink="/instructions">Instructions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1>
      {{ instructionLength }}
    </h1>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>

<mat-card class="admin">
  <mat-card-header>
    <mat-card-title routerLink="/admin">Admins</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1>
      {{ adminLength }}
    </h1>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>

<mat-card class="colleges">
  <mat-card-header>
    <mat-card-title routerLink="/colleges">Colleges</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1>
      {{ collegeLength }}
    </h1>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>

<mat-card class="tpo">
  <mat-card-header>
    <mat-card-title routerLink="/tpo">TPOs</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h1>
      {{ tpoLength }}
    </h1>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
