<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <div class="text-xs-center">
          <div [ngSwitch]="role">
            <div *ngSwitchCase="'students'">
              <a
                [routerLink]="['/login/students']"
                *ngIf="authType == 'register'"
                >Have an account?</a
              >
              <a
                [routerLink]="['/register/students']"
                *ngIf="authType == 'login'"
                >Need an account?</a
              >
            </div>
          </div>
        </div>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <div formArrayName="students">
            <div
              *ngFor="
                let student of authForm.get('students')['controls'];
                let i = index
              "
            >
              <div [formGroupName]="i">
                <fieldset [disabled]="isSubmitting">
                  <fieldset class="form-group">
                    <input
                      formControlName="name"
                      placeholder="Name"
                      class="form-control form-control-lg"
                      type="text"
                    />
                    <span
                      *ngIf="
                        !student.get('name').valid &&
                        student.get('name').touched
                      "
                      class="help-block"
                      >Please, Enter a valid username (length should be greater
                      than 2 and less than 256)</span
                    >
                  </fieldset>
                  <fieldset class="form-group">
                    <input
                      class="form-control form-control-lg"
                      formControlName="email"
                      placeholder="Email"
                      type="text"
                    />
                    <span
                      *ngIf="
                        !student.get('email').valid &&
                        student.get('email').touched
                      "
                      class="help-block"
                      >Please, Enter a valid email (length should be greater
                      than 6 and less than 256)</span
                    >
                  </fieldset>
                  <fieldset class="form-group">
                    <input
                      class="form-control form-control-lg"
                      formControlName="phone"
                      placeholder="Phone Number"
                      type="text"
                    />
                    <span
                      *ngIf="
                        !student.get('phone').valid &&
                        student.get('phone').touched
                      "
                      class="help-block"
                      >Please, Enter a valid phone number (length should be
                      greater than 9 and less than 15)</span
                    >
                  </fieldset>

                  <fieldset class="form-group">
                    <input
                      class="form-control form-control-lg"
                      formControlName="password"
                      placeholder="Password"
                      type="password"
                    />
                    <span
                      *ngIf="
                        !student.get('password').valid &&
                        student.get('password').touched
                      "
                      class="help-block"
                      >Please, Enter a valid password (length should be greater
                      than 5 and less than 256)</span
                    >
                  </fieldset>
                  <fieldset class="form-group">
                    <h3 class="help-block">College:</h3>
                    <select
                      class="form-control form-control-lg"
                      formControlName="college"
                    >
                      <option disabled>Select College</option>
                      <option *ngFor="let i of clg" [value]="i.name">
                        {{ i.name }}
                      </option>
                    </select>
                    <span
                      *ngIf="
                        !student.get('college').valid &&
                        student.get('college').touched
                      "
                      class="help-block"
                      >Please, Select the college from the list</span
                    >
                  </fieldset>
                  <fieldset class="form-group">
                    <h3 class="help-block">Code:</h3>
                    <select
                      class="form-control form-control-lg"
                      formControlName="code"
                    >
                      <option disabled value="">Select Code</option>
                      <option *ngFor="let i of clg" [value]="i.code">
                        {{ i.code }}, {{ i.name }}
                      </option>
                    </select>
                    <span
                      *ngIf="
                        !student.get('code').valid &&
                        student.get('code').touched
                      "
                      class="help-block"
                      >Please, Select a code from the list</span
                    >
                  </fieldset>
                  <fieldset class="form-group">
                    <input
                      class="form-control form-control-lg"
                      formControlName="roll"
                      placeholder="Roll Number"
                      type="text"
                    />
                    <span
                      *ngIf="
                        !student.get('roll').valid &&
                        student.get('roll').touched
                      "
                      class="help-block"
                      >Please, Enter a valid roll number (length should be
                      greater than 3 and less than 256)</span
                    >
                  </fieldset>
                  <fieldset class="form-group">
                    <input
                      class="form-control form-control-lg"
                      formControlName="branch"
                      placeholder="Branch"
                      type="text"
                    />
                    <span
                      *ngIf="
                        !student.get('branch').valid &&
                        student.get('branch').touched
                      "
                      class="help-block"
                      >Please, Enter a valid roll number (length should be
                      greater than 2 and less than 256)</span
                    >
                  </fieldset>
                  <button
                    class="btn btn-lg btn-primary pull-xs-right"
                    [disabled]="!authForm.valid"
                    type="submit"
                  >
                    {{ title }}
                  </button>
                </fieldset>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
