<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.innobitsystems.campusrecruiter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name="com.innobitsystems.campusrecruiter.CRS"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseMaterialTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi= "Q"
        android:icon="@mipmap/ic_launcher">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.innobitsystems.campusrecruiter.ui.splash.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="MissingClass"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.innobitsystems.campusrecruiter.ui.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.innobitsystems.campusrecruiter.ui.tpoDashboard.TPODashboard"
            android:screenOrientation="portrait"/>
        <activity android:name="com.innobitsystems.campusrecruiter.ui.examination.ExamDrawer"
            android:screenOrientation="portrait"/>
        <activity android:name="com.innobitsystems.campusrecruiter.ui.instructions.InstructionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.innobitsystems.campusrecruiter.ui.login.TpoLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.innobitsystems.campusrecruiter.ui.result.ResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.innobitsystems.campusrecruiter.ui.resetAuthentication.ResetAuthenticationActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name="com.innobitsystems.campusrecruiter.utils.callListner.CallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
